@page
@model AndenSemesterProjekt.Pages.SelectRoute.CancelSignUpModel
@{
    ViewData["Title"] = "Cancel sign up";
}

<h1> You have succesfully cancled your sign up!</h1>
<h5> You are now no longer signed up for this route and can go back to the "Select Routes" page.</h5>
<div>
    <a asp-page="Index">Back to select routes</a>
</div>