@page
@model AndenSemesterProjekt.Pages.SelectRoute.SignedUpModel
@{
    ViewData["Title"] = "Congratulations!";
}

<h1> You are now signed up!</h1>
<h5> You are now signed up for this route - You can asways cancel your sign up on the "Select Routes" page.</h5>
<div>
    <a asp-page="Index">Back to select routes</a>
</div>