@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   <h3>Are you using this Application as a Driver or Attendant?</h3>
</div>
<br/>
<div class="text-center">
    <a asp-page="/Routes/Index" class="btn btn-primary">Driver</a>
    <a asp-page="/SelectRoute/Index" class="btn btn-primary">Attendant</a>
</div>
